# Operációs rendszer
.DS_Store
Thumbs.db
desktop.ini

# Szerkesztők / IDE
.vscode/
.idea/
*.sublime-*
*.swp

# Logok és ideiglenes fájlok
*.log
npm-debug.log*
.cache/
tmp/

# Függőségek (ha később build eszközt használsz)
node_modules/
dist/

# Környezeti változók
.env
.env.local